<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Teaching RAFA - Ruby on Rails</title>

    <meta name="description" content="Ruby on Rails from Quez to RAFA">
    <meta name="author" content="Thiago Guimarães">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="../core/css/reveal.css">
    <link rel="stylesheet" href="../core/css/theme/sky.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="../core/lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '../core/css/print/pdf.css' : '../core/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="../core/lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h2>Teaching RAFA</h2>
          <img src="img/rafael.jpg">
        </section>

        <section>
          <h3>Ruby</h3>
          <p>Current Version: 2.2.0</p>
          <br/><br/>
          <h3>Ruby on Rails</h3>
          <p>Current Version: 4.2.0</p>
        </section>

        <section>
          <h2>Knowledge</h2>
          <br /><br />
          <ul>
            <li><a href="https://www.facebook.com/groups/rubyonrailsbrasil/">Ruby on Rails Brasil</a></li>
            <li><a href="https://gorails.com/">Go Rails</a></li>
            <li><a href="http://rubyweekly.com/">Ruby Weekly</a></li>
            <li><a href="https://twitter.com/jcemer">Jean Carlo Emer</a></li>
            <li><a href="https://twitter.com/lucasmazza">Lucas Mazza</a></li>
            <li><a href="https://twitter.com/plataformatec">Plataformatec</a></li>
            <li><a href="https://twitter.com/helabs">HE:Labs</a></li>
          </ul>
        </section>

        <section>
          <h2>Structure</h2>
          <br /><br />
          <ul>
            <li class="fragment">App
              <ul>
                <li>Assets</li>
                <li>Controllers</li>
                <li>Models</li>
                <li>Views</li>
              </ul>
            </li>
            <li class="fragment">Config
              <ul>
                <li>Routes</li>
                <li>Database</li>
              </ul>
            </li>
            <li class="fragment">Public</li>
            <li class="fragment">Vendor</li>
            <li class="fragment">Gemfile</li>
          </ul>
        </section>

        <section>
          <h2>Assets</h2>
          <br /><br />
          <ul>
            <li class="fragment">Images</li>
            <li class="fragment">Javascript
              <ul>
                <li class="fragment">.js</li>
                <li class="fragment">.js.erb</li>
                <li class="fragment">.js.haml</li>
              </ul>
            </li>
            <li class="fragment">Stylesheet
              <ul>
                <li class="fragment"><a href="https://github.com/sass/sass">Sass</a></li>
                <li class="fragment"><a href="https://github.com/lucasmazza/ruby-stylus">Stylus</a></li>
              </ul>
            </li>
          </ul>
        </section>

        <section>
          <h2>Vendor</h2>
          <br /><br />
          <p>External Libraries</p>
        </section>

        <section>
          <h2>Controllers</h2>
          <br /><br />
          <p>Variables with '@' are available in views</p>
        </section>

        <section>
          <h2>Views</h2>
          <br /><br />
          <ul>
            <li class="fragment">Layouts</li>
            <li class="fragment">Controllers Views</li>
            <li class="fragment">Partials</li>
            <li class="fragment">Handlers</li>
          </ul>
        </section>

        <section>
          <h2>Views ♡ Controllers</h2>
          <br /><br />
          <ul>
            <li class="fragment">Integration</li>
            <li class="fragment">Helpers</li>
            <li class="fragment">Javascript Views (can be json, xml, whatever...)</li>
          </ul>
        </section>

        <section>
          <h2>Views ♡ Assets</h2>
          <br /><br />
          <div><pre><code># application.html.erb
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= yield :stylesheet %>

# people/edit.html.erb
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'edit_person' %>
<% end %></code></pre></div>
        </section>

        <section>
          <h2>Views ♡ Assets</h2>
          <br /><br />
          <div><pre><code># application.html.erb
<%= javascript_include_tag 'application' %>
<%= yield :javascript %>

# people/edit.html.erb
<% content_for :javascript do %>
  <%= javascript_include_tag 'edit_person' %>
<% end %></code></pre></div>
          <div class="fragment">
            <br /><br />
            <p><small><em>PS: Add your specific assets in config/initializers/assets.rb</em></small></p>
            <div><pre><code>Rails.application.config.assets.precompile += %w( edit_person.js )</code></pre></div>
          </div>
        </section>

        <section>
          <h2>Model</h2>
          <br/><br/>
          <pre><code># app/models/*</code></pre>
        </section>

        <section>
          <h2>Routes</h2>
          <br/><br/>
          <pre><code># config/routes.rb</code></pre>
        </section>

        <section>
          <h2>Database</h2>
          <br/><br/>
          <pre><code># config/database.yml</code></pre>
        </section>

        <section>
          <h2>Public</h2>
          <br/><br/>
          <p>Static files</p>
        </section>

        <section>
          <h2>Gemfile</h2>
          <br/><br/>
          <div class="fragment">
            <p>Example: <a href="https://github.com/mislav/will_paginate">pagination</a></p>
            <pre><code># Gemfile
gem 'will_paginate'</code></pre>
            <pre><code>$ bin/bundle install</code></pre>
            <pre><code># controllers/people_controller.rb
@people = Person.paginate(page: params[:page])</code></pre>
            <pre><code># views/people/index.html.erb
<%= will_paginate @people %></code></pre>
          </div>
        </section>

        <section>
          <h2>Thanks</h2>
          <br/><br/>
          <img src="img/quezmedia.jpg" style="border: 0">
        </section>
      </div>

    </div>

    <script src="../core/lib/js/head.min.js"></script>
    <script src="../core/js/reveal.js"></script>

    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'convex', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: '../core/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '../core/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../core/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../core/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '../core/plugin/zoom-js/zoom.js', async: true },
          { src: '../core/plugin/notes/notes.js', async: true }
        ]
      });

    </script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-26064649-13', 'thiagoguimaraes.com.br');
    ga('send', 'pageview');
    </script>

  </body>
</html>